* {
	box-sizing: border-box;
	font-family: 'Inter';
	margin: 0;
	padding: 0;
}

body {
	background: #E5E5E5;
}

a {
	text-decoration: none;
}

.header {
	max-width: 1338px;
	height: 123px;
	margin: 20px auto 0;
	padding: 5px 22px 16px 24px;
}

.content {
	margin: 30px auto 0;
	max-width: 1338px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 144px 426px;
	gap: 30px;
}

.list-header, .list-body, .header{
	background: $white;
	box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.25);
	border-radius: 10px;
}