.clue {
	display: none;
	position: absolute;
	min-width: 23px;
	height: 18px;
	right: -21px;
    top: -14px;
	background: #4F4F4F;
	border-radius: 6px;
	text-align: center;
	font-weight: 500;
	font-size: 11px;
	line-height: 18px;
	color: #FFFFFF;

	&_icon {
		right: -8px;
    	top: -35px;
	}

	&_active {
		display: block;
	}
}