.menu {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 48px;

	&__info {

		display: flex;

        a {
            width: 40px;
		    height: 48px;
        }
	}

	&:after {
		@include divider;
		@include horizontal-divider;
		top: 54px;
	}

	&__logo {
		display: block;
        width: 100%;
        height: auto;
	}
	
	&__search {
		margin-left: 325px;
		margin-top: 4px;
		width: 397px;
		height: 41px;
		background: $light-grey;
		border-radius: 10px;
		display: flex;
		align-items: center;
		padding: 11px 18px 13px 19px;
	
		input {
			@include regular-text;
			width: 100%;
			height: 100%;
			border: none;
			background: transparent;
			color: $grey-text;
			&:focus {
				outline: none;
			} 
		}
	
		img {
            cursor: pointer;
			width: 17px;
			height: 17px;
			transition: ease .5s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__tool-bar {
		display: grid;
		grid-template-columns: 179px 58px 192px;
		position: relative;									
		border-left: .5px solid #B0B0B0;

		&:after {
			@include divider;
			@include long-vertical-divider;
			bottom: -61px;
		}
	}

	&__question {
		display: flex;
		align-items: center;
		margin-left: 23px;
		margin-right: 20px;

		
		div {
			width: 18px;
			height: 18px;
			position: relative;
			margin-right: 15px;
		}
	
		a {
			position: relative;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: $dark-text;
			transition: ease .5s;

			&:after {
				@include underline;
				bottom: -2px;
			}

			&:hover {
				color: $grey-text;
				&:after {
					background-color:  $grey-text;
				}
			}
		}
	}
	
	&__settings {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		border-left: .5px solid #B0B0B0;
		border-right:  .5px solid #B0B0B0;
	
		img {
            cursor: pointer;
			margin-top: 3px;
			width: 19px;
			height: 19px;
			transition: ease 1s;

			&:hover {
				transform: scale(1.3);
			}
		}
	}
	
	&__user {
		padding-left: 20px;
		display: flex;
		align-items: center;
		position: relative;
	
		&-name, &-id {
			@include regular-text;
		}
	
		&-name {
			color: $dark-text;	
		}
	
		&-id {
			color: $grey-text;
			margin-top: 3px;
		}
	
		&-avatar {
			margin-left: 13px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 42px;
			height: 42px;
			background-color: $light-grey;
			border-radius: 100%;
	
			&-img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	
		&-dropdown {
			cursor: pointer;
			margin-left: 6px;
			width: 9px;
			height: 5px;
		}
	}
}

